<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credentials</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Credential Data</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>AAGUID</th>
                    <th>Credential ID</th>
                    <th>Public Key</th>                    
                </tr>
            </thead>
            <tbody>
                {% for credential in credentials %}
                <tr>
                    <td>{{ credential.username }}</td>
                    <td>{{ credential.aaguid }}</td>
                    <td>{{ credential.credential_id }}</td>
                    <td>{{ credential.public_key }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
